.img-logo {
  height: 50px;
  width: auto;
  max-width: 100%;
  margin: auto;
  vertical-align: middle;
  vertical-align: middle;
  border-style: none;
}

/* .navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
